{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100 mt-2">
            <div class="col-12">
                <h2 class="logo-font text-white mt-3 text-center">
                    Delivery Information
                </h2>
            </div>
            <div class="col-12">
                <div class="mt-4 text-center text-black">
                    <p>Standard Delivery Cost: 10% of total products cost</p>
                    <p>Free Delivery is available for orders over £100</p>
                    <p>Delivery takes 5 working days if order is placed before 1pm on day of purchase.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}