{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100  mt-5">
            <div class="col-12 col-md-6 my-auto"></div>
            <div class="col-12 col-md-6 my-auto text-right">
                <div class="my-4 text-center">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
                <h3 class="hero-text text-black">
                    <strong>New</strong> Winter 22/23 collection
                </h3>
            </div>
        </div>
    </div>
{% endblock %}