html {
    height: 100%;
}

body {
    background: no-repeat center center fixed;
    background-image: linear-gradient(rgba(241, 236, 236, 0.5), rgba(0, 0, 0, 0.5)), url("/media/background-blue.jpg");
    background-size: cover;
    height: calc(100vh - 210px);
    color: #555;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
}

.nav-link {
    padding: 0.2rem;
}

footer {
    margin-top: 100vh;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.company-text {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.logo-font {
    text-transform: uppercase;
}

.hero-text {
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.center {
    margin: auto;
    width: 50%;
}

.info-style {
    opacity: 0.9;
}

.shop-now-button {
    background: rgb(170,198,198);
    color: black;
    min-width: 260px;
    border: 1.5px solid black;
}

.card-img-top {
    height: 20vw;
    object-fit: contain;
}

.fade-img {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
  
.fade-container:hover .fade-img {
opacity: 0.7;
}

.fade-container:hover .middle {
opacity: 1;
}

.text {
background-color: #aac6c6;
color: black;
font-size: 0.8rem;
padding: 1rem 1.2rem;
}

.text:hover {
background-color: #aac6c6;
color: black;
border: 1.5px solid black;
}

/* end */

.btn-green {
    background: #aac6c6;
    color: black;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.btn-green:hover,
.btn-green:active,
.btn-green:focus {
    background: #222;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus {
    background: none;
    color: white;
    border: 2.75px solid white;;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-green {
    background: #aac6c6 !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

a.category-badge > span.badge:hover,
a.room-badge > span.badge:hover,
a.special-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* navbar link effects */

.nav-item:hover {
    text-decoration: underline solid;
    text-underline-offset: 0.5rem;
}

/* bootstrap toasts */

.message-container {
    position: fixed;
    top: 95px;
    right: 10px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }

  .company-text {
    font-size: 3.5rem;
  }
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    color: black;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #aac6c6;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
    transform: scale(1.01);
    transition: all 0.1s ease-in-out 0.2s;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
	font-weight: bold;
    text-decoration: none;
}

/* Product Form */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 210px;
    }

    .company-text {
        font-size: 2.4rem;
    }

    #main-nav {
        font-size: 0.8rem;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 160px;
    }

    body {
        height: calc(100vh - 160px);
    }

    .message-container {
        top: 77px;
    }

    .nav-link i.fas {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-green.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-green.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }

    /* hover image */
    .middle {
        top: 40%;
    }

    .text {
    font-size: 0.7rem;
    padding: 0.6rem 0.9rem;
    }

    .text:hover {
    border: 1.25px solid black;
    }
}

/* increase product image size on screens up to 768px */
@media (max-width: 768px) {
    .card-img-top {
        height: 40vw;
    }

    .hero-text {
        font-size: 2.5rem;
        text-align: center;
    }

    /* toast */
    .message-container {
        top: 75px;
        right: 9px;
    }

    /* hover image */
    .middle {
        top: 35%;
    }

    .text {
    font-size: 0.7rem;
    padding: 0.6rem 0.9rem;
    }

    .text:hover {
    border: 1.25px solid black;
    }
}

/* toast message adjustment */
@media (max-width: 662px) {
    .message-container {
        /* top: 64px; */
        top: 115px;
    }

    .arrow-up {
        display: none;
    }
}

/* toast message adjustment */
@media (max-width: 575px) {
    .message-container {
        /* top: 64px; */
        top: 75px;
    }
}

/* responsive styling for under 497px */
@media (max-width: 497px) {
    .message-container {
        top: 119px;
        right: 8px;
        left: 5px;
    }

    .arrow-up {
        right: 63px;
    }
}

/* responsive styling for under 481px */
@media (max-width: 481px) {
    .nav-link i.fas {
        font-size: 0.8rem;
    }

    .company-text {
        font-size: 1.5rem;
    }

    .hero-text {
        font-size: 1.5rem;
        text-align: center;
    }

    .nav-link i.fas {
        font-size: 1.1rem;
    }

    .shop-icons li {
        padding: 0 0.2rem 0 0;
    }

    /* toast */
    .message-container {
        top: 125px;
        right: 8px;
        left: 5px;
    }

    .arrow-up {
        right: 63px;
    }

    .middle {
        top: 25%;
    }

    .text {
    font-size: 0.6rem;
    padding: 0.5rem 0.8rem;
    }

    .text:hover {
    border: 1px solid black;
    }
}