<!-- https://mdbootstrap.com/docs/standard/navigation/footer/ -->

<!-- Section: Links  -->
<section class>
    <div class="container text-center text-md-start mt-1 p-2">
        <!-- Grid row -->
        <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <!-- Content -->
                <h6 class="text-uppercase fw-bold"><strong>Morgan</strong> &amp; Co</h6>
                <small>Celebrating more than 70 years of business.</small>
            </div>

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">Shop By Item</h6>
                <p><a href="{% url 'products' %}?category=chair" class="text-reset">Chairs</a></p>
                <p><a href="{% url 'products' %}?category=sofa" class="text-reset">Sofas</a></p>
                <p><a href="{% url 'products' %}?category=table" class="text-reset">Tables</a></p>
                <p><a href="{% url 'products' %}?category=cabinet" class="text-reset">Cabinets</a></p>
                <p><a href="{% url 'products' %}?category=chair,sofa,table,cabinet" class="text-reset">All Furniture</a></p>
            </div>

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">Information</h6>
                <p><a href="{% url 'about' %}" class="text-reset">About Us</a></p>
                <p><a href="#!" class="text-reset">Contact Us</a></p>
                <p><a href="#!" class="text-reset">Delivery</a></p>
                <p><a href="#!" class="text-reset">Return &amp; Refunds</a></p>
            </div>

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- <h6 class="text-uppercase fw-bold mb-4">Contact</h6> -->
                <p><i class="fas fa-home me-3"></i> Llanfair, LL15 1PG, Cymru, UK</p>
                <p><i class="fas fa-envelope me-3"></i> morganandco@example.com</p>
                <p><i class="fas fa-phone me-3"></i> + 44 234 567 88</p>
                <a href="https://www.facebook.com/" class="me-4 text-reset" target="_blank" rel="noopener" aria-label="link to facebook website (opens in new tab)"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.twitter.com/" class="me-4 text-reset" target="_blank" rel="noopener" aria-label="link to twitter website (opens in new tab)"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/" class="me-4 text-reset" target="_blank" rel="noopener" aria-label="link to instagram website (opens in new tab)"><i class="fab fa-instagram"></i></a>
                <a href="https://uk.linkedin.com/" class="me-4 text-reset" target="_blank" rel="noopener" aria-label="link to linkedin website (opens in new tab)"><i class="fab fa-linkedin"></i></a>
                <a href="https://www.github.com/" class="me-4 text-reset" target="_blank" rel="noopener" aria-label="link to github website (opens in new tab)"><i class="fab fa-github"></i></a>
            </div>
        </div>
    </div>
</section>

<!-- Copyright -->
<div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.05);">
    <a class="text-reset fw-bold" href="https://www.linkedin.com/home" target="_blank" rel="noopener" aria-label="link to linkedin website (opens in new tab)">Copyright &copy; rhysmoggs <span id="copyright"></span></a>
</div>

<script>
    $(document).ready(function() {
        $("#copyright").text(new Date().getFullYear());
        });
</script>