{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100 mt-5">
            <div class="col-12">
                <h2 class="logo-font text-black mt-3 text-center">
                    Returns &amp; Refunds
                </h2>
            </div>
            <div class="col-12 card info-style">
                <div class="mt-4 text-center text-black">
                    <p>All items have a 30 days return policy. See <a href="https://www.privacypolicygenerator.info/live.php?token=RHyVP13vx6NT7IsMYdNqveNe9ENcXZJ1" class="text-uppercase" target="_blank" rel="noopener" aria-label="link to privacy policy (opens in new tab)"><strong>here</strong></i></a> for our privacy policy.</p>
                    <p>Please Contact Us to arrange any returns and refunds.</p>
                    <p><a href="{% url 'contact' %}" class="text-uppercase"><strong>Contact Us</strong></a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}