{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100 mt-5">
            <div class="col-12">
                <h2 class="logo-font text-white mt-3 text-center">
                    Contact Us
                </h2>
            </div>
            <div class="col-12">
                <h3 class="text-white mt-5 text-center">
                    <strong>Morgan</strong> &amp; Co
                </h3>
                <div class="mt-4 text-center text-black">
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <p><i class="fas fa-home me-3"></i> Llanfair, LL15 1PG, Cymru, UK</p>
                        <p><i class="fas fa-envelope me-3"></i> morganandco@example.com</p>
                        <p><i class="fas fa-phone me-3"></i> + 44 234 567 88</p>
                        <a href="https://www.facebook.com/" class="me-4 text-reset" target="_blank" rel="noopener" aria-label="link to facebook website (opens in new tab)"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.twitter.com/" class="me-4 text-reset" target="_blank" rel="noopener" aria-label="link to twitter website (opens in new tab)"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.instagram.com/" class="me-4 text-reset" target="_blank" rel="noopener" aria-label="link to instagram website (opens in new tab)"><i class="fab fa-instagram"></i></a>
                        <a href="https://uk.linkedin.com/" class="me-4 text-reset" target="_blank" rel="noopener" aria-label="link to linkedin website (opens in new tab)"><i class="fab fa-linkedin"></i></a>
                        <a href="https://www.github.com/" class="me-4 text-reset" target="_blank" rel="noopener" aria-label="link to github website (opens in new tab)"><i class="fab fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}